body {
    font-family: 'Roboto', sans-serif;;
}

section.header {
    text-align: center;
    color: #141c3a;
    max-width: 700px;
    margin: 0 auto;
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 23px;
        font-weight: 300;
    }
}