body {
    font-family: 'Roboto', sans-serif;
}

#nav {
    padding-right: 30px;
    margin-bottom: 100px;
    .content {
        padding: 20px 0;
        a {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            color: #141c3a;
            padding-left: 30px;
        }
    }
}

section#header {
    text-align: center;
    color: #141c3a;
    max-width: 700px;
    margin: 0 auto;
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 23px;
        font-weight: 300;
    }
}

section#intro {
    background-color: #6b2ccf;
    margin: 50px 0;
    div.content {
        max-width: 700px;
        margin: 0 auto;
        color: #fff;
        padding-top: 80px;
        padding-bottom: 150px;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
    }
}

section#skills {
    max-width: 80%;
    margin: 0 auto;
    div.content {
        div.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            text-align: center;
            transform: translateY(-140px);
            margin-bottom: -140px; //off-set transform
            justify-items: center;
            .grid-item {
                width: 70%;
                background-color: #fff;
                min-height: 430px;
                border: .5px solid rgba(207, 206, 206, 0.281);
                border-radius: 5px;
                padding: 30px 60px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                h3 {
                    font-weight: 600;
                    font-size: 24px;
                }
                h4 {
                    font-size: 18px;
                    color: #6b2ccf;
                    font-weight: 400;
                }
                p {
                    font-size: 18px;
                    line-height: 28px;
                }
                ul {
                    padding-left: 0;
                    li {
                        list-style-type: none;
                        padding-left: 0;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

section#projects {
    div.content {
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
        h2 {
            text-align: center;
            color: #141c3a;
            font-size: 30px;
        }
        p {
            text-align: center;
            font-weight: 300;
        }
        div.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 50px;
            grid-row-gap: 50px;
            max-width: 900px;
            margin: 50px auto 100px 50px;
            div.grid-item {
                border: .5px solid rgba(128, 128, 128, 0.322);
                padding: 50px 35px;
                border-radius: 5px;
                min-height: 200px;
            }
        }
        a {
            margin: 0 auto;
            border: 2px solid #6b2ccf;
            border-radius: 40px;
            padding: 15px 30px;
            color: #6b2ccf;
            text-decoration: none;
            &:hover {
                background-color: #6b2ccf;
                color: #fff;
            }
        }
    }
}

section#contact {
    // transform: translateY(70px);
    // margin: -70px;
    padding-top: 80px;
    padding-bottom: 80px;
    div.content {
        background-color: rgb(41, 52, 52);
        max-width: 900px;
        color: #fff;
        min-height: 150px;
        border-radius: 5px;
        margin: 0 auto;
        padding: 30px;
        h2 {
            text-align: center;
            font-size: 30px;
        }
        p {
            text-align: center;
            font-weight: 300;
            padding-bottom: 50px;
        }
        form {
            text-align: center;
            div {
                display: flex;
                max-width: 400px;
                margin: 0 auto;
                input {
                    width: 100%
                }
                input[type=text] {
                    width: 100%;
                    height: 45px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: none;
                    background-color: #fff;
                    border-radius: 40px;
                    margin-bottom: 25px;
                    ::placeholder {
                        font-size: 12px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: lighter;
                    }
                }
                input[type=text]:focus {
                    border: 3px solid #ddd;
                }
                > textarea {
                    height: 100px;
                    width: 100%;
                    resize: none;
                    border-radius: 25px;
                    padding: 12px 20px;
                    font-size: 13.5px;
                    font-family: 'Roboto', sans-serif;
                }
                > button {
                    margin: 0 auto;
                    border: 2px solid #fff;
                    border-radius: 40px;
                    padding: 15px 30px;
                    color: #fff;
                    text-decoration: none;
                    background-color: #6b2ccf;
                    min-width: 100px;
                    margin-top: 30px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    &:hover {
                        background-color: #fff;
                        border: 2px solid #6b2ccf;
                        color: #6b2ccf;
                    }
                }
            };
        }
    }
}

footer {
    // border-top: 20px solid #7e42df;
    background-color: #6b2ccf;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 80px;
    p {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.718);
        text-align: center;
        font-weight: 300;
        padding-top: 20px;
    }
}





// Media Queries

// Mobile screens, xs/s
@media only screen and (max-width: 480px) {

    #nav {
        margin-bottom: 0;
    }

    section#header {
        padding: 20px;
    }

    section#intro {
        div.content {
            padding: 50px 20px 100px 20px;
            font-size: 18px;
        }
    }

    section#skills {
        div.content {
            div.grid {
                grid-template-columns: 1fr;
                div.grid-item {
                    width: 75%;
                }
            }
        }
    }

    section#projects {
        div.content {
            div.grid {
                grid-template-columns: 1fr;
                margin: 0 auto;
                grid-gap: 20px;
            }
        }
    }
}



// Tablet screens, medium
@media only screen and (max-width: 768px) {

    section#intro {
        div.content {
            padding: 50px 30px 120px 30px;
            font-size: 18px;
        }
    }

    section#skills {
        div.content {
            div.grid {
                grid-template-columns: 1fr;
                div.grid-item {
                    width: 65%;
                }
            }
        }
    }

    section#projects {
        div.content {
            div.grid {
                grid-template-columns: repeat(2, 1fr);
                margin: 0 auto;
                grid-gap: 20px;
                padding-top: 30px;
            }
        }
    }
}