body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    section {
        padding: 50px 15px 30px;
    }
    h2 {
        line-height: 1.5;
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
    }
    hr {
        max-width: 700px;
    }
}

.hamburger {
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    position: fixed;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    #hamburger-icon {
        padding: 10px;
        z-index: 4;
        display: block;
        position: relative;
    }
}


#nav {
    padding-right: 30px;
    margin-bottom: 100px;
    margin-bottom: 0;
    display: none;
    box-shadow: 0 1px 5px 0 rgba(45,62,80,0.12);
    &.active {
        display: block; // hide on mobile
    }
    .nav-overlay {
        display: none;
        &.active {
            display: block;
        }
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 2;
        left: 0;
        top: 0;
    }
    .content {
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 100px;
            row-gap: 30px;
            a.nav-item {
                position: relative;
                z-index: 3;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                color: #141c3a;
                margin-left: 20px;
                margin-bottom: 3px;
            }
        }
    }
} // end nav

span.period {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #20839b;
}

#header {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 100px;
    .content {
        .grid {
            .grid-item {
                h1 {
                    font-size: 30px;
                    line-height: 30px;
                }
                p {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.5;
                    b {
                        color: #20839b;
                    }
                    br {
                        display: none;
                    }
                }
                div.circle { // circular image
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 40px auto 20px auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }
    }
} // end #header


#intro {
    background-color: #e9f3f5;
    .content {
        height: 350px;
        max-width: 700px;
        margin: 0 auto;
        padding-bottom: 90px;
    }
} // end #intro



#skills {
    margin: 0 auto;
    .content {
        transform: translateY(-255px);
        margin-bottom: -255px; //off-set transform
        .grid {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(1, 1fr);
            max-width: 1000px;
            margin: 0 auto;
            .grid-item {
                width: 70%;
                margin: 0 auto;
                text-align: left;
                background-color: #fff;
                min-height: 430px;
                border: .5px solid rgba(207, 206, 206, 0.281);
                border-top-right-radius: 10px;
                padding: 40px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                h3 {
                    font-size: 20px;
                    color: #20839b;
                    font-weight: 400;
                }
                ul {
                    padding-left: 0;
                    li {
                        list-style-type: none;
                        padding-left: 0;
                        font-size: 16px;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
} // end #skills


#recent-work {
    margin: 0 auto;
    .content {
        text-align: left;
        h2, p {
            max-width: 700px;
            margin: auto;
        }
        h2 {
            text-align: left;
            margin-bottom: 30px;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 30px;
            column-gap: 30px;
            margin: 0 auto;
            padding-top: 50px;
            .grid-item {
                position: relative;
                width: 100%;
                height: 350px;
                .recent-overlay {
                    background-color: #333333a7;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    &:hover {
                        transition: .2s ease-in;
                        background-color: #333333df;
                    }
                    h2 {
                        color: white;
                        position: absolute;
                        text-align: center;
                        margin: 0 auto;
                        right: 0;
                        left: 0;
                        top: 45%;
                        text-transform: uppercase;
                        letter-spacing: 0.06em;
                        font-size: 25px;
                    }
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-top-right-radius: 10px;
                }
            }
        }
    }
} // end #recent-work


#learning-projects {
    max-width: 1344px;
    margin: 0 auto;
    .content {
        h2, p {
            max-width: 700px;
            margin: 0 auto;
        }
        h2 {
            margin-bottom: 30px;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 30px;
            column-gap: 30px;
            margin: 0 auto;
            padding-top: 50px;
            .grid-item {
                &:active {
                    .overlay {
                        position: absolute;
                        display: block;
                        background-color: rgba(0, 0, 0, 0.708);
                        z-index: 5;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                    .project-links {
                        display: block; // Show links on hover
                        position: absolute;
                        top: 50px;
                        padding-top: 50px;
                        z-index: 6;
                        color: #fff;
                        text-align: center;
                        width: 100%;
                        margin: 0 auto;
                        .website-link {
                            margin: 0;
                            border: 2px solid #fff;
                            color: #fff;
                            border-radius: 4px;
                            width: 100px;
                            padding: 10px 30px;
                            margin: 0 5px;
                            min-width: 45px;
                            &:nth-of-type(1) {
                                background-color: #fff;
                                color: #333;
                            }
                            &:active {
                                transition: .05s ease;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .project {
                    position: relative;
                    border-top-right-radius: 10px;
                    height: 200px;
                    width: auto;
                    overflow: hidden;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    a {
                        text-decoration: none;
                    }
                }
                img {
                    position: relative;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    object-position: left;
                }
                .project-links {
                    display: none;
                }
                h3 {
                    text-align: left;
                    padding: 15px;
                    margin: 0;
                    background-color: #3d717e;
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 0.06em;
                }
            } // end grid-item
        }
    }
} // end #learning-projects



#contact {
    background-color: #e9f3f5;
    margin-top: 50px;
    height: 230px;
    .content {
        max-width: 500px;
        margin: 0 auto;
        text-align: left;
        a {
            color: #20839b;
            text-underline-offset: 4px;
        }
    }
}

footer {
    background-color: #333;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 80px;
    .content {
        a {
            text-decoration: none;
            padding: 5px;
            :hover {
                transition: .1s ease-in;
                transform: scale(1.1)
            }
        }
        p {
            color: #fff;
            text-align: center;
            font-weight: 300;
            padding-top: 20px;
            letter-spacing: .06em;
        }
    }
}



// ----------------------- Project styles start ------------------ //


#project-header {
    .content {
        max-width: 700px;
        margin: 100px auto 0;
        h1 {
            font-size: 30px;
            position: relative;
            height: 100%;
            line-height: 1.5;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            .grid-item:nth-of-type(1) {
                display: grid;
                grid-template-columns: 30% auto;
                p {
                    color: #20839b;
                    margin: 0;
                    grid-column: 1/ span 1;
                    span {
                        grid-column: 2/ span 1;
                    }
                }
            }
        }
    }
}


#project-description {
    padding-top: 20px;
    max-width: 700px;
    margin: 0 auto;
    .content {
        margin: 0 auto;
        h2 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .grid-item {
            ul li {
                a {
                    color: #333;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    font-weight: 350;
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    &:hover {
                        transition: .2s ease;
                        text-underline-offset: 7px;
                        color: #20839b;
                    }
                }
            }
        }
        .grid-item.visuals {
            .inner-grid-item {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 30px;
                column-gap: 30px;
                img {
                    max-width: 100%;
                    max-height: 500px;
                    object-fit: cover;
                    &.blog {
                        grid-column: 1/ span 2;
                    }
                    &.store {
                        grid-column: 1/ span 2;
                    }
                }
            }
        }
    }
}


#project-links {
    padding-top: 0;
    max-width: 700px;
    margin: 0 auto;
}





// ---------------------------- Media Queries ---------------------------- //


@media only screen and (min-width: 450px) { // xs


}

@media only screen and (min-width: 767px) { // s

    #intro {
        .content {
            padding-bottom: 50px;
        }
    } // end #intro


    #skills {
        .content {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    } // end #skills


    #recent-work {
        max-width: 1344px;
        .content {
            .grid {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 250px 250px;
                .grid-item {
                    height: 100%;
                }
                .grid-item:nth-of-type(1) {
                    grid-column: 1/ span 1;
                    grid-row: 1/ span 2;
                }
                .grid-item:nth-of-type(2) {
                    grid-column: 2/ span 1;
                    grid-row: 1/ span 1;
                }
                .grid-item:nth-of-type(3) {
                    grid-column: 2/ span 1;
                    grid-row: 2/ span 1;
                }
            }
        }
    } // end #recent-work


    #learning-projects {
        .content {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    } // end #projects


} // end mquery(s)




@media only screen and (min-width: 991px) { // m


} // end mquery(m)



@media only screen and (min-width: 1119px) { // ml

    body {
        section {
            padding: 80px 15px 40px;
        }
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 18px;
        }
    } // end body


    #nav {
        display: block;
        position: fixed;
        background-color: white;
        z-index: 20;
        width: 100%;
        padding-right: 30px;
        margin-bottom: 0;
        .nav-overlay { // Hide overlay on desktop screens
            display: none;
            &.active {
                display: none;
            }
        }
        .content {
            text-align: right;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 30px;
            row-gap: 0;
            max-width: 1344px;
            margin: 0 auto;
            .grid {
                display: block;
                padding-top: 0;
                a.nav-item {
                    font-size: 16px;
                    font-weight: 600;
                    margin-left: 30px;
                    margin-bottom: 0;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 4px;
                        text-decoration-color: #20839b;
                        text-decoration-thickness: 2px;
                    }
                    &:nth-of-type(5) {
                        color: #20839b;
                        border: 2px solid #20839b;
                        border-radius: 4px;
                        padding: 10px;
                        &:hover {
                            transition: all 0.2s ease;
                            text-decoration: none;
                            background-color: #20839b;
                            color: white;
                        }
                    }
                }
            }
        }
    } // end nav


    .hamburger {
        display: none;
    }


    #header {
        .content {
            .grid {
                .grid-item {
                    h1 {
                        font-size: 40px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    } // end #header


    #skills {
        .content {
            .grid {
                .grid-item {
                    width: 80%;
                    h3  {
                        font-weight: 500;
                    }
                    ul li {
                        font-size: 18px;
                    }
                }
            }
        }
    } // end #skills


    #learning-projects {
        .content {
            .grid {
                grid-template-columns: repeat(4, 1fr);
                column-gap: 30px;
                row-gap: 30px;
                margin: 0 auto;
                .grid-item {
                    &:hover {
                        .overlay {
                            transition: .2s ease;
                            position: absolute;
                            display: block;
                            background-color: rgba(0, 0, 0, 0.708);
                            z-index: 2;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                        .project-links {
                            display: block; // Show links on hover
                            position: absolute;
                            top: 50px;
                            padding-top: 50px;
                            z-index: 3;
                            color: #fff;
                            text-align: center;
                            width: 100%;
                            margin: 0 auto;
                            .website-link {
                                margin: 0;
                                border: 2px solid #fff;
                                color: #fff;
                                border-radius: 4px;
                                width: 100px;
                                padding: 10px 30px;
                                margin: 0 5px;
                                min-width: 45px;
                                &:nth-of-type(1) {
                                    background-color: #fff;
                                    color: #333;
                                }
                                &:hover {
                                    transition: .05s ease;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    } // end #learning-projects


    #contact {
        margin-top: 80px;
    } // end #contact


    // ------------- Project styles ------------- //

    #project-description {
        .content {
            .grid {
                display: grid;
                .grid-item {
                    h2 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .grid-item.visuals {
                    .inner-grid-item {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        img {
                            display: inline-flex;
                            height: 100%;
                            column-gap: 20px;
                            row-gap: 20px;
                        }
                    }
                }
            }
        }
    } // end #project-description



} // end mquery(ml)



@media only screen and (max-width: 1399px) { // l

} // end mquery(l)



@media only screen and (max-width: 1920px) { // xl

} // end mquery(xl)