body {
  font-family: "Roboto", sans-serif;
}

#nav {
  padding-right: 30px;
  margin-bottom: 100px;
}
#nav .content {
  padding: 20px 0;
}
#nav .content a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: #141c3a;
  margin-left: 30px;
  margin-bottom: 3px;
}
#nav .content a:hover {
  border-bottom: 3px solid #141c3a;
  padding-bottom: 5px;
}

section#header {
  text-align: center;
  color: #141c3a;
  max-width: 700px;
  margin: 0 auto;
}
section#header h1 {
  font-size: 40px;
}
section#header h1 span {
  font-weight: 300;
}
section#header p {
  font-size: 23px;
  font-weight: 300;
}

section#intro {
  background-color: #6b2ccf;
  margin: 50px 0;
}
section#intro div.content {
  max-width: 700px;
  margin: 0 auto;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 150px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

section#skills {
  max-width: 80%;
  margin: 0 auto;
}
section#skills div.content div.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  text-align: center;
  transform: translateY(-140px);
  margin-bottom: -140px;
  justify-items: center;
}
section#skills div.content div.grid .grid-item {
  width: 70%;
  background-color: #fff;
  min-height: 430px;
  border: 0.5px solid rgba(207, 206, 206, 0.281);
  border-radius: 5px;
  padding: 30px 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
section#skills div.content div.grid .grid-item h2 {
  font-weight: 600;
  font-size: 26px;
}
section#skills div.content div.grid .grid-item h3 {
  font-size: 20px;
  color: #6b2ccf;
  font-weight: 400;
}
section#skills div.content div.grid .grid-item p {
  font-size: 18px;
  line-height: 28px;
}
section#skills div.content div.grid .grid-item ul {
  padding-left: 0;
}
section#skills div.content div.grid .grid-item ul li {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 28px;
}

section#projects div.content, section#work div.content {
  padding-top: 80px;
  text-align: center;
}
section#projects div.content h2, section#work div.content h2 {
  text-align: center;
  color: #141c3a;
  font-size: 30px;
}
section#projects div.content p, section#work div.content p {
  text-align: center;
  font-weight: 300;
  max-width: 400px;
  margin: 0 auto;
  line-height: 25px;
}
section#projects div.content div.grid, section#work div.content div.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 0 auto;
  padding-top: 50px;
  max-width: 70%;
}
section#projects div.content div.grid div.grid-item, section#work div.content div.grid div.grid-item {
  position: relative;
  border: 0.5px solid rgba(128, 128, 128, 0.322);
  border-radius: 5px;
  height: 100%;
  width: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section#projects div.content div.grid div.grid-item img, section#work div.content div.grid div.grid-item img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-position: left;
     object-position: left;
}
section#projects div.content div.grid div.grid-item .skill-pills, section#work div.content div.grid div.grid-item .skill-pills {
  display: none;
}
section#projects div.content div.grid div.grid-item:hover .overlay, section#work div.content div.grid div.grid-item:hover .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.838);
  z-index: 2;
  cursor: pointer;
}
section#projects div.content div.grid div.grid-item:hover .skill-pills, section#work div.content div.grid div.grid-item:hover .skill-pills {
  position: absolute;
  display: block;
  padding-top: 50px;
  z-index: 3;
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
section#projects div.content div.grid div.grid-item:hover .skill-pills h3, section#work div.content div.grid div.grid-item:hover .skill-pills h3 {
  border-bottom: 2px solid #fff;
  display: inline-block;
  margin: 0;
}
section#projects div.content div.grid div.grid-item:hover .skill-pills ul, section#work div.content div.grid div.grid-item:hover .skill-pills ul {
  list-style: none;
  text-align: center;
  padding: 0;
  line-height: 1.7;
  margin-bottom: 40px;
  font-weight: 500;
}
section#projects div.content div.grid div.grid-item:hover .skill-pills .website-link, section#work div.content div.grid div.grid-item:hover .skill-pills .website-link {
  margin: 0;
  background-color: #6b2ccf;
  color: #fff;
  width: 100px;
  padding: 10px 30px;
  margin-left: 20px;
}
section#projects div.content div.grid div.grid-item:hover .skill-pills .website-link a, section#work div.content div.grid div.grid-item:hover .skill-pills .website-link a {
  min-width: 50px;
}
section#projects div.content div.grid div.grid-item:hover .skill-pills .website-link:hover, section#work div.content div.grid div.grid-item:hover .skill-pills .website-link:hover {
  font-weight: 600;
}
section#projects div.content div.grid div.grid-item:hover .skill-pills .pill, section#work div.content div.grid div.grid-item:hover .skill-pills .pill {
  background-color: #252540;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 12px;
}
section#projects div.content a, section#work div.content a {
  margin: 0 auto;
  border: 2px solid #6b2ccf;
  border-radius: 40px;
  padding: 15px 30px;
  color: #6b2ccf;
  text-decoration: none;
}
section#projects div.content a:hover, section#work div.content a:hover {
  background-color: #6b2ccf;
  color: #fff;
}

section#work div.content {
  padding-top: 0;
}

section#contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
section#contact div.content {
  background-color: rgb(41, 52, 52);
  max-width: 900px;
  color: #fff;
  min-height: 150px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 30px;
}
section#contact div.content h2 {
  text-align: center;
  font-size: 30px;
}
section#contact div.content p {
  text-align: center;
  font-weight: 300;
  padding-bottom: 50px;
}
section#contact div.content form {
  text-align: center;
}
section#contact div.content form div {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}
section#contact div.content form div input {
  width: 100%;
}
section#contact div.content form div input[type=text] {
  width: 100%;
  height: 45px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 25px;
}
section#contact div.content form div input[type=text] ::-moz-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
section#contact div.content form div input[type=text] :-ms-input-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
section#contact div.content form div input[type=text] ::placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
section#contact div.content form div input[type=text]:focus {
  border: 3px solid #ddd;
}
section#contact div.content form div > textarea {
  height: 100px;
  width: 100%;
  resize: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 13.5px;
  font-family: "Roboto", sans-serif;
}
section#contact div.content form div > button {
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  background-color: #6b2ccf;
  min-width: 100px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
section#contact div.content form div > button:hover {
  background-color: #fff;
  border: 2px solid #6b2ccf;
  color: #6b2ccf;
}

footer {
  background-color: #6b2ccf;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 80px;
}
footer p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.718);
  text-align: center;
  font-weight: 300;
  padding-top: 20px;
}

@media only screen and (max-width: 480px) {
  #nav {
    margin-bottom: 0;
  }
  section#header {
    padding: 20px;
  }
  section#intro div.content {
    padding: 50px 20px 100px 20px;
    font-size: 18px;
  }
  section#skills div.content div.grid {
    grid-template-columns: 1fr;
  }
  section#skills div.content div.grid div.grid-item {
    width: 75%;
  }
  section#projects div.content div.grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  section#intro div.content {
    padding: 50px 30px 120px 30px;
    font-size: 18px;
  }
  section#skills div.content div.grid {
    grid-template-columns: 1fr;
  }
  section#skills div.content div.grid div.grid-item {
    width: 65%;
  }
  section#projects div.content div.grid {
    margin: 0 auto;
    grid-gap: 20px;
    padding-top: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  section#skills div.content div.grid {
    grid-gap: 50px;
  }
  section#skills div.content div.grid div.grid-item {
    width: 70%;
  }
  section#projects div.content div.grid {
    margin: 0 auto;
    grid-gap: 20px;
    padding-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */